<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
</head>
<body>
    <dv id="speechContainer">
        <h1>Upload New File</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" /> 
            <br>
            <input type="submit" id="submitButton" value="Transcribe" />
        </form>
    </dv>

    {% if transcript != "" %}
    <div class="speechTranscriptContainer">
        <h1>Transcript</h1>
        <p id="speechText">{{transcript}}</p>
    </div>
    {% endif %}
</body>
</html>